body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
}

img {
    float:left

}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px 0;
    padding: 2rem;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;


}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 0;
    transition: all;
    transition-duration: 500ms;
    border-bottom: 1px solid rgba(0, 0, 255, 0)  
}

main {
    padding: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

nav ul li a:hover {
    color: blue;
    border-bottom: 1px solid blue;
}